$text: #546e7a;
$orange: #e74c3c;
$green: #8bc34a;
$bg_dark-blue: #263238;
$bg_grey: #f4f6f5;

@mixin f500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}